#fade{
    background-color: #00000090;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

#cardAddQuestion{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    min-width: 50%;
    min-height: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

#close{
    position: relative;
    left: 45%;
    top: 20px;
    font-size: 2em;
    color: #DD4545;
    cursor: pointer;
    user-select: none;
}

#cardAddQuestion h3{
    font-size: 2em;
    margin-top: 1%;
}

.addQuestionField{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    gap: 10px;
}

.addQuestionField label{
    font-size: 1.4em;
}

.addQuestionField input, .addQuestionField textarea{
    font-size: 1.2em;
    padding-inline: 5px;
}

#cardAddQuestion button{
    margin-top: auto;
    margin-bottom: 4%;
    background-color: #f57028;
    border: 1px solid #000;
    border-radius: 4px;
    width: 25%;
    padding: 1.5% 0;
    cursor: pointer;
    transition: ease .3s;
}

#cardAddQuestion button:hover{
    background-color: #d86527;
}

@media (max-width: 1180px){
    #cardAddQuestion{
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform: translate(0, 0);
        font-size: 2em;
    }

    #postQuestion{
        font-size: 1.5em;
        min-width: 50%;
    }
}