*{
    letter-spacing: 1px;
    cursor: default;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 3em;
}

img{
    user-select: none;
}

.backLabel{
    color: #000;
}