article{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

h1{
    font-size: 2.5rem;
}

article h2{
    margin-top: 2em;
    font-size: 2rem;
}

p{
    font-size: 1rem;
    text-align: justify;
}

.doc{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 9vh;
}

.doc img{
    max-width: 60px;
    padding-right: 5px;
    border-right: 1px solid #fff;
}