article{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

h1{
    font-size: 2.5rem;
}

article h2{
    font-size: 2rem;
}

p{
    font-size: 1rem;
    text-align: justify;
}

.cyan{
    color: var(--cyan);
}

.red{
    color: var(--red);
}

.mark{
    background-color: #505050;
    padding-inline: 5px;
    border-radius: 4px;
}

a{
    text-decoration: none;
}