aside{
    padding: 2% 12%;
}

.sectionTitle{
    display: flex;
    align-items: center;
    gap: 12px;
}

.sectionTitle img{
    max-width: 45px;
}

section ul{
    list-style: none;
    margin-left: 58px;
}

section ul li{
    margin-top: .3em;
    margin-bottom: 1em;
    font-size: 1.1rem;
    cursor: pointer;
}

section ul li a{
    transition: ease .2s;
    letter-spacing: 0px;
}

section ul li a:hover{
    color: #f0f0f090;
}