body{
    background-color: #180d5b;
    max-height: 100vh;
    height: 100vh;
}

#admin{
    position: absolute;
    right: 5%;
    bottom: 44vh;
    transform: translate(0, 50%);
    margin-top: 11vh;
    z-index: -1;
}

@media (max-width: 1140px){
    #admin{
        opacity: 0.3;
    }
}