#circles{
    display: flex;
    list-style: none;
    gap: 5px;
    justify-content: flex-end;
    position: relative;
    right: 20vw;
    top: 2vh;
}

#circles li{
    background-color: #fff;
    min-width: 12em;
    min-height: 12em;
    border-radius: 50%;
    border: 1px solid #fff;
    user-select: none;
    transition: ease .3s;
    font-size: 2px;
}

#circles .active{
    background-color:#2D73B4;
}