/* SECTION */
section{
    display: none;
    margin-top: .5%;
    background-image: url('../../img/backgrounds/science_bg.png');
    background-color: #0F054C;
    max-width: 90vh;
    margin-inline: 8%;
    border-radius: 20px;
    height: 80vh;
    overflow-y: auto;
}

/* DOCUMENTATIONS BOX */
#docs h3{
    padding-top: 2%;
    text-align: center;
    font-size: 1.4em;
}

#cards{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%;
    justify-content: center;
}

.docName{
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
    border-radius: 20px;
    width: 18em;
    height: 33vh;
    background-color: #110947;
    cursor: pointer;
    margin-top: 2%;
    transition: ease .3s;
    margin-bottom: 3%;
}

.card:hover{
    box-shadow: 0 0 15px 1px #00000090;
}

/* USERS BOX*/
#top{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    align-items: center;
}
#top h3{
    font-size: 1.5em;
    color: #0F054C;
}
#seachDiv{
    display: flex;
    justify-content: flex-end;
}
#search{
    max-width: 28em;
    font-size: large;
    background: transparent;
    padding-left: .9em;
    padding-right: 2.7em;
    height: 2.2em;
    border-radius: 50em;
    z-index: 2;
    color: #0F054C;
    border: 2px solid #0F054C;
    transition: ease .3s;
}
#lens{
    z-index: 3;
    background: transparent;
    position: relative;
    top: .45em;
    right: -17.8em;
    cursor: pointer;
}
#users ul{
    list-style: none;
    padding: 0 5%;
}
#users ul li{
    margin-bottom: 2%;
    border: 2px solid #000;
    padding: 2% 2%;
    color: #0F054C;
    border-radius: 4px;
    font-size: 1.2em;
    display: flex;
    gap: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.deleteUsers{
    cursor: pointer;
}
#users ul .userDisappears{
    display: none;
}

/* REGISTER BOX */
#registerTitle{
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.7em;
    height: 2em;
    padding: 5%;
    padding-top: 10%;
    color: #0F054C;
}
.registerCircles{
    display: flex;
    gap: 10px;
}
.registerCircles li{
    background-color: #0F054C;
    list-style: none;
    min-width: .8em;
    min-height: .8em;
    border-radius: 50%;
}
.inputDiv{
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
    padding-bottom: 4%;
}
#registerInfo label{
    font-size: 1.3em;
    margin-bottom: .4em;
    color: #2D73B4;
}
#registerInfo input{
    border: none;
    border-bottom: 2px solid #2D73B4;
    font-size: 1.2em;
    color: #2D73B4;
    background: transparent;
    transition: ease-in .2s;
}
#registerInfo input[type='password']{
    letter-spacing: 0.120em;
}
#registerInfo input:focus{
    outline: none;
    border-bottom: 2px solid #259b2b;
}
#registrateButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#registrate{
    background-color: #2D73B4;
    font-size: 1em;
    border: none;
    padding: 1em 4em;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: ease .3s;
}
#registrate:hover{
    background-color: #25629b;
}
#notification{
    color: rgb(200, 82, 115);
    font-size: x-large;
    padding-bottom: 5px;
}

input[type=checkbox], #checkboxes label{
    cursor: pointer;
}
#checkboxes label{
    margin-right: 5%;
}


/* RESPONSIVE */
@media (max-width: 1140px){
    main{
        padding-top: 13vh;
    }
    #docs{
        margin-top: 2%;
        margin-inline: 3%;
        max-width: 95vh;
    }
    #docs h3{
        padding-top: 5%;
        font-size: 1.2em;
    }
    .card img{
        width: 160px;
    }
    .card{
        margin-top: 5%;
        width: 12em;
        height: 26vh;
    }
    #circles{
        margin-right: 50%;
        justify-content: center;
        transform: translate(50%,0);
    }
}