#admin{
    position: absolute;
    right: 5%;
    bottom: 44vh;
    transform: translate(0, 50%);
    margin-top: 11vh;
    z-index: -1;
}

main{
    padding-top: 14vh;
}

#circles{
    display: flex;
    list-style: none;
    gap: 5px;
    justify-content: flex-end;
    margin-right: 20%;
}

#circles li{
    background-color: #fff;
    min-width: 1.3em;
    border-radius: 50%;
    border: 1px solid #fff;
    user-select: none;
    transition: ease .3s;
}

#circles .active{
    background-color:#2D73B4;
}

#docs{
    margin-top: .5%;
    background-color: #ffffff90;
    max-width: 90vh;
    margin-inline: 8%;
    border-radius: 20px;
    height: 80vh;
}

#docs h3{
    padding-top: 2%;
    text-align: center;
    font-size: 1.4em;
}

#cards{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%;
    justify-content: center;
}

.docName{
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
    border-radius: 20px;
    width: 18em;
    height: 33vh;
    background-color: #110947;
    cursor: pointer;
    margin-top: 2%;
    transition: ease .3s;
}

.card:hover{
    box-shadow: 0 0 15px 1px #00000090;
}

@media (max-width: 1140px){
    main{
        padding-top: 13vh;
    }
    #docs{
        margin-top: 2%;
        margin-inline: 3%;
        max-width: 95vh;
    }
    #docs h3{
        padding-top: 5%;
        font-size: 1.2em;
    }
    .card img{
        width: 160px;
    }
    .card{
        margin-top: 5%;
        width: 12em;
        height: 26vh;
    }
    #circles{
        margin-right: 50%;
        justify-content: center;
        transform: translate(50%,0);
    }
}