main{
    margin-top: .5%;
    background-color: #ffffff;
    max-width: 90vh;
    margin-inline: 8%;
    border-radius: 20px;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    gap: 1%;
}

main #crown{
    max-width: 68px;
    max-height: 68px;
}

main h1{
    font-size: 3em;
    color: #2D73B4;
    display: flex;
    align-items: center;
}