nav{
    width: 100%;
    min-height: 12vh;
    display: flex;
    align-items: center;
    background-color: #110947;
    color: #fff;
    position: fixed;
    z-index: 10;
}

#logo_gn{
    width: 180px;
    margin-left: 2%;
}

#menu{
    list-style: none;
    display: flex;
    gap: 3%;
    width: 100%;
    justify-content: flex-end;
    margin-right: 3%;
}

#menu li{
   font-size: 1.5em;
   border: 1px solid #2D73B4;
   width: 20%;
   display: flex;
   justify-content: center;
   padding: .5em 0;
   border-radius: 4px;
   cursor: pointer;
   transition: ease .3s;
}

#menu li:hover{
    background-color: #2D73B4;
}

#menu .active{
    background-color: #2D73B4;
    border-color: #fff;
}