@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@700&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 'Montserrat', sans-serif;;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    background-image: url(../../img/tech-city.jpg);
    /* background-color: #21146D; */
    background-size:cover;
    background-repeat: no-repeat;
}