.authentication{
    background-color: #fff;
    color: #000;
    width: 50%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 5vh;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authentication h3{
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@keyframes authNotification {
    from {margin-top: -2%;}
    to {margin-top: 0;}
}

.authNotificationMove{
    animation: authNotification 1s;
}