.authentication{
    background-color: #fff;
    color: #000;
    min-width: 35%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    min-height: 3vh;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6%;
    margin-top: -2%;
}

.authentication h3{
    font-weight: 300;
    font-size: 1em;
}

@keyframes authNotification {
    from {margin-top: -2%;}
    to {margin-top: 0;}
}

.authNotificationMove{
    animation: authNotification 1s;
    margin-top: 0;
}

@media (max-width: 70em){
    .authentication{
        top: auto;
        bottom: 3.2vh;
        min-width: 100%;
    }
}