*{
    user-select: none;
}

body{
    background-image: url(../../img/backgrounds/tech-city.jpg);
    color: #fff;
    background-size: auto;
    background-position: top;
    max-height: 100vh;
    height: 100vh;
}

@media (max-width: 70em){
    body{
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}