body{
    background-image: url(../../img/backgrounds/tech-city.jpg);
    color: #fff;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 70em){
    body{
        background-size: auto;
        background-position: right;
        background-repeat: no-repeat;
    }
}