nav{
    display: flex;
    justify-content: flex-end;
    margin-inline: 2%;
    align-items: center;
    margin-top: 2%;
}

nav ul{
    width: 45%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.home{
    font-size: large;
    padding: 8px 0;
    border-radius: 1em;
    transition: ease .5s;
    text-align: center;
    min-width: 15%;
    max-width: 15%;
    color: #110750;
    background-color: #42E9E1;
    cursor: context-menu;
}

.topLink:hover{
    background-color: #42E9E1;
    color: #110750;
}

.active{
    background-color: #2d73b4;
    color: #fff;
}