/* SEARCH */
#search{
    position: absolute;
    top: 3%;
    right: 6%;
    width: 28em;
    padding-left: .8em;
    padding-right: 2.8em;
    height: 2.5em;
    border-radius: 50em;
    z-index: 2;
    color: #2D73B4;
    border: 2px solid #0F054C;
    transition: ease .3s;
}
#search:focus{
    outline: none;
    border: 2px solid #2D73B4;
}
#lens{
    position: absolute;
    right: 6.5%;
    border-top-right-radius: 50em;
    border-bottom-right-radius: 50em;
    top: 3.18%;
    z-index: 2;
    background-color: transparent;
    padding-left: .3%;
    height: 3.3%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* RIGHT SIDE */
#right-side{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
#topLogo{
    display: none;
}
/* NAV MENU */
#menu{
    list-style: none;
    display: flex;
    gap: 5%;
    justify-content: end;
    padding: 3em 6% 0 0;
    font-size: 2.5vh;
}

/* MENU ITEMS */
.login_logout{
    color: #44d4f5;
    cursor: pointer;
    padding-top: 1vh;
}
.login_logout:hover{
    text-shadow: 0 0 10px #42E9E1;
}
.home{
    background-color: #2D73B4;
    padding: 1vh 2.8vh;
    border-radius: 1.5vh;
    cursor: default;
}

@media (max-width: 70em){
    #right-side{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        border-bottom: 2px solid #08012e;
        border-top: 2px solid #08012e;
    }
    #menu{
        padding: 1% 3% 1% 0;
        gap: 12%;
    }
    .login_logout{
        color: #200f81;
        transition: .3s;
        background-color: #2D73B4;
        padding: 1vh 2.8vh;
        border-radius: 50em;
        color: #fff;
        margin-right: 5%;
    }
    .login_logout:hover{
        box-shadow: 0 0 3px #200f81;
        text-shadow: none;
    }
    #topLogo{
        display: block;
        margin-left: 5%;
    }
    .home{
        display: none;
    }
    #search{
        top: auto;
        bottom: 5vh;
        right: 50%;
        transform: translate(50%);
    }
    #lens{
        top: auto;
        bottom: 5.2vh;
        right: 50%;
        transform: translate(10em);
    }
}