/* SEARCH */
#google_search{
    position: absolute;
    top: 3%;
    right: 6.5%;
    z-index: 2;
    display: flex;
    align-items: center;
}

#search{
    width: 29em;
    padding-left: .8em;
    padding-right: 2.8em;
    height: 2.5em;
    border-radius: 50em;
    color: #2D73B4;
    border: 2px solid #0F054C;
    transition: ease .3s;
}
#search:focus{
    outline: none;
    border: 2px solid #2D73B4;
}

#lens{
    width: 18px;
    margin-left: -1.9em;
}

/* RIGHT SIDE */
#right-side{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
/* NAV MENU */
#menu{
    list-style: none;
    display: flex;
    gap: 3%;
    justify-content: end;
    padding: 3.2em 6% 0 0;
    font-size: 2.5vh;
}

/* MENU ITEMS */
.login_logout{
    width: 5%;
    padding: 1vh 0;
    text-align: center;
    cursor: pointer;
    color: #5eb0fd;
    transition: ease .2s;
}

.login_logout:hover{
    text-shadow: 0 0 5px #5eb0fd;
}

#admin{
    background-color: #2D73B4;
    padding: 1vh 0;
    width: 15%;
    border-radius: 1.5vh;
    cursor: pointer;
    transition: ease .3s;
    text-align: center;
}
#admin:hover{
    background-color: #275f94;
}

@media (max-width: 1180px){
    #right-side{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid #08012e;
    }
    #menu{
        width: 100%;
        justify-content: center;
        padding: 3% 1%;
        gap: 5%;
    }

    .login_logout{
        width: 47%;
        background-color: #fff;
        border-radius: 1.5vh;
        font-size: .8em;
        color: #275f94;
    }

    .login_logout:hover{
        text-shadow: none;
    }

    #admin{
        width: 47%;
        font-size: .8em;
    }
    #google_search{
        top: auto;
        bottom: 5vh;
        left: 50%;
        right: auto;
        transform: translateX(-50%)
    }
}