.update_password{
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    opacity: 0;
    pointer-events: none;
    transition: ease .3s;
}

.update_password .card{
    padding: 20em 0;
}

#logo-azul-update{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#update_password_button{
    padding: .8em 3em;
    margin-bottom: 5%;
    margin-top: 3%;
    background-color: #2D73B4;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: ease .3s;
}

#update_password_button:hover{
    background-color: #27649e;
}


.unhide{
    transition: ease .5s;
    opacity: 1;
    pointer-events: inherit;
    z-index: 3;
}