.update_password{
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    opacity: 0;
    pointer-events: none;
    transition: ease .3s;
}

.update_password .card{
    padding: 20em 0;
}

#logo-azul-update{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}