aside{
    width: 18%;
    position: fixed;
    padding-bottom: 2em;
}

.sectionTitle{
    display: flex;
    align-items: center;
    gap: 12px;
}

.sectionTitle h2{
    cursor: default;
    font-size: 1.5rem;
}

.sectionTitle img{
    max-width: 45px;
}

section ul{
    list-style: none;
    margin-left: 58px;
}

section ul li{
    margin-top: .3em;
    margin-bottom: 1em;
    font-size: 1.1rem;
    cursor: pointer;
}

section ul li{
    transition: ease .2s;
}

section ul li:hover{
    color: #f0f0f090;
}

.active{
    font-weight: bold;
}

.active::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #2E8DE0; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}