@media (max-width: 1040px){
    #left-side{
        display: none;
    }
    article{
        width: 100%;
        margin: 0;
        padding-bottom: 5em;
    }
    .doc{
        flex-direction: column;
        margin-top: 1em;
        margin-bottom: 14em;
        max-height: 0;
        min-height: 0;
    }
    .doc img{
        border: none;
        padding-right: 0;
    }
}