#darkFade{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #00000090;
    z-index: 9;
}

#editRow{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 80%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 10;
    justify-content: center;
}

#editRow h2{
    width: 100%;
    text-align: center;
    margin: 1em 0;
}

#sides{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
}

.edit{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
    margin-bottom: 2em;
    gap: 5px;
}

.edit input{
    font-size: 1.3em;
    min-width: 60vh;
}

#submit{
    width: 100%;
    display: flex;
    justify-content: center;
}

#aplicar{
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    background-color: #ee9745;
    padding: .6em 4%;
    cursor: pointer;
    transition: ease .3s;
}

#aplicar:hover{
    background-color: #d17f31;
}