#tables{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    width: 90%;
    text-align: left;
}

td,th{
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

tr{
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.newTable{
    box-shadow: 0 0 10px #00000090;
    margin-bottom: 10px;
}

.editButton{
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: .7em;
    background-color: #ee9745;
    padding: 4% 0;
    cursor: pointer;
    transition: ease .3s;
}

.editButton:hover{
    background-color: #d17f31;
}

.editInput{
    max-width: 100%;
}

@media (max-width: 680px){
    table tr{
        display: flex;
        flex-direction: column;
    }
}