#left{
    min-width: 35%;
    background-color: #ffffff90;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

#infoTitle{
    text-align: center;
    /* margin-bottom: 5%; */
    font-size: 2.2em;
}

.topic{
    margin-top: 5%;
    padding-inline: 7%;
    text-align: justify;
}

.topic h3{
    font-size: 1.8em;
    margin-bottom: 2%;
}

.topic p{
    font-size: 1.2em;
}

#dismissButtonDiv{
    display: none;
}

@media (max-width: 1100px) {
    #left{
        height: 100vh;
    }
    #dismissButtonDiv{
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}