@keyframes apaga{
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes aparece{
    from {opacity: 0;}
    to {opacity: 1;}
}

.container{
    border-radius: 4px;
    box-shadow: 0 0 10px 1px #00000080;
    padding: 2% 1%;
    margin: 2% 5%;
    background-color: white;
}

.container p{
    margin-top: 0.8%;
    margin-left: 0.8%;
}

.container ul li{
    margin-left: 2.8%;
}

#api_container{
    display: none;
    opacity: 0;
}

.apaga{
    animation: apaga 2s;
}
.aparece{
    animation: aparece 2s;
}
