#space{
    height: 30px;
}

footer {
    width: 100%;
    line-height: 3vh;
    position: fixed;
    bottom: 0;
    opacity: .8;
}
#copy{
    background-color:#303030;
    color: #CCCCCC;
    text-align: right;
    margin-bottom: 0;
    padding-inline: 30px;
    font-size: 2vh;
}